vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.txt.
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerIndexServer
vti_dependenciesood:IR|0
vti_httpdversion:SX|Microsoft-IIS/4.0
vti_ignorekeyboard:IR|0
vti_navbuttonuplabel:SR|Up
vti_structfrom_localhost\\e\:\\websites\\agfirst/e\:/websites/agfirst:TR|14 Jun 2001 19:33:12 -0000
vti_webservertype:SR|msiis
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_textindexood:IR|0
vti_navbuttonnextlabel:SR|Next
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|06 Jan 2000 06:33:00 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html index.asp index.stm default.htm default.asp default.stm default.html
vti_secureserverurl:SR|https://www.agfirst.com
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_defaultlanguage:SR|en
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|true
vti_autorecalc:IX|1
vti_usernames:VR|
vti_htmlextensions:SX|.htm.html.htm.html.stm.shtml.shtm.htt.htx.asp.alx.asa.
vti_createpostinfo:BX|false
vti_navbuttonhomelabel:SR|Home
vti_insecureserverurl:SR|http://www.agfirst.com
vti_disableautoimgsizeexts:SX|.asp
