vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Feb 1999 18:33:02 -0000
vti_extenderversion:SR|4.0.2.4317
vti_cacheddtm:TX|25 Feb 1999 04:00:00 -0000
vti_filesize:IR|509
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|reference/clock.asp reference/forms.htm reference/odbc.asp reference/_derived/fp.htm0.htx reference/fp.htm reference/mail.asp reference/tests.htm reference/confirm.asp stats/www2000/files0200.html stats/www2000/files0900.html stats/www2000/topurl0100.html reference/counter.stm reference/left.htm reference/right.htm stats/www2000/files0100.html
