vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|msiis
vti_defaultlanguage:SR|en-us
vti_usernames:VR|
vti_timecreated:TR|15 Jun 2011 12:51:18 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.6819
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_textindexood:IR|0
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_navbuttonnextlabel:SR|Next
vti_approvallevels:VR|Approved Denied Pending\\ Review Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_hassearchbot:BR|true
vti_dependenciesood:IR|0
vti_navbuttonhomelabel:SR|Home
vti_showhiddenpages:IR|1
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ACIPAddresses vti_ServerIndexServer vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_structfrom_www.agfirst.com\:80:TR|13 Nov 2002 13:33:24 -0000
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Up
