vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Feb 1999 19:33:01 -0000
vti_extenderversion:SR|4.0.2.4317
vti_cacheddtm:TX|25 Feb 1999 04:00:00 -0000
vti_filesize:IR|509
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|cgi-bin/guestbook/guestbook.html cgi-bin/guestbook/index.htm stats/www2000/files0100.html
vti_syncwith_intranet.agfirst.net\:80/marketing/advertising:TW|25 Feb 1999 19:33:01 -0000
