.cfc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
a:link {
	color: #1C476B;
	text-decoration: underline;
	font-weight: bold;
}
a:visited {
	color: #1C476B;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #80685C;
}
BODY {
	SCROLLBAR-FACE-COLOR: #868873; SCROLLBAR-HIGHLIGHT-COLOR: #EBEDD1; SCROLLBAR-SHADOW-COLOR: #93815B; 	SCROLLBAR-3DLIGHT-COLOR: #fffffff; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #626354; SCROLLBAR-DARKSHADOW-COLOR: #000000}.style1 {
	font-family: Arial, Helvetica, sans-serif;
}
.link2 {

	color: 724935;
		text-decoration: none;
}
		a.subnav {
		font-family: arial, verdana, sans-serif;
		font-size: 12px;
		margin: 0;
		padding: 0;
		text-decoration: none;
		}.general {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: BCCCDB;
}.general2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 724935;
}
.style2 {
	font-size: 14px;
	font-weight: bold;
}
.style5 {
	font-size: 12px;
	color: #000;
}

#green1 {
	background-color:green; 
	filter:alpha(opacity=44); 
	-moz-opacity:0.40;}