<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="default.php" />
            </files>
        </defaultDocument>
<rewrite>
  <rules>
    <rule name="Rewrite for agfirstfinancials/CodeOfEthics09.pdf">
     <match url="^agfirstfinancials/codeofethics([0-9a-z-]+)" />
     <action type="Redirect" url="/codeofethics.pdf" />
    </rule>
	<rule name="Rewrite for 2010CodeOfEthics.pdf">
     <match url="^2010AgFirstCodeOfEthics" />
     <action type="Redirect" url="/codeofethics.pdf" />
    </rule>
	<rule name="Rewrite for agfirstfinancials/Code_Of_Ethics.pdf">
     <match url="^agfirstfinancials/code_of_ethics" />
     <action type="Redirect" url="/codeofethics.pdf" />
    </rule>
  </rules>
</rewrite>
    </system.webServer>
</configuration>
